body,html {margin: 0; padding: 0; }
footer { border-top: #e5e5e5 1px solid; padding: 10px 0; font-size: 0.9em;}
.container {width: 750px;}

table th span.supplier-includes { font-size: 0.9em; font-weight: normal; }
.table thead tr th { background: #00414e; color: #fff;}
.table tbody tr.info>th { background-color: #d9edf7; }
.table tbody tr.success>th { background-color: #dff0d8; }
.table tbody tr>td.ranking span.badge { font-size: 1.2em; padding: 4px 9px; }
.table tbody td.casetype { width: 100px; font-weight: bold;}

span.badge { background: #00414e; }
span.badgelight { background: #85898E;}

h1 { padding: 0 0 0.5em 0; font-size: 1.5em; color: #00414E; margin: 0; line-height: 1.5em;}
h1 a { color: #006c78; }
h1 span { font-size: 0.9em; color: #85898E; }
h2 { font-size: 1.3em; padding: 0 0 0.5em 0; margin: 0;}

#graph { min-height: 400px; margin-bottom: 10px; }